/* Salons list */
.section-about {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.about-text {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
  font-weight: 500;
  color: #616060;
}

.about-image {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 300px;
}

@media only screen and (min-width: 744px) {
  .about-text {
    max-width: 621px;
  }
  .about-image {
    max-width: 380px;
  }
}

@media only screen and (min-width: 1360px) {
  .section-about {
    flex-direction: row;
    gap: 125px;
  }
  .about-image {
    margin-left: 0px;
    max-width: 640px;
  }
}

@media only screen and (min-width: 1900px) {
  .section-about {
    margin-left: 0px;
  }
}
