/* Salons list */
.section-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 200px;
}

.about-text {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 18px;

  font-size: 18px;
  font-weight: 500;
  color: #616060;
}

.about-image {
  margin: 0 auto;
  margin-bottom: 50px;
  height: 400px;
  /* max-width: 300px; */
}

@media only screen and (min-width: 744px) {
  .about-text {
    max-width: 701px;
  }
  .about-image {
    height: 550px;
  }
}

@media only screen and (min-width: 1360px) {
  .section-about {
    flex-direction: row;
    gap: 125px;
  }
  .about-text-with-header {
    margin-top: -100px;
    margin-left: -100px;
  }
  .about-image {
    margin-left: 0px;
    /* max-width: 550px; */
    /* width: 100%; */
    height: 550px;
  }
}

@media only screen and (min-width: 1900px) {
  .about-text-with-header {
    margin-right: 250px;
  }
  .section-about {
    margin-left: 0px;
    height: 700px;
  }
}
