/* Salons list */
.section-weare {
  display: flex;
  background-color: #f4f4f4;
  flex-direction: column;
  padding-bottom: 100px;
}

.weare-image {
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 50px;
  max-width: 300px;
}

.list-characteristic {
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 24px;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  padding-left: 0px;
  color: #616060;
  max-width: 600px;
}

.list-characteristic li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  font-weight: 600;
}
.list-characteristic span {
  font-weight: 900;
}
.list-characteristic a {
  color: black;
}
.list-characteristic a:hover {
  color: var(--accent);
}
@media only screen and (min-width: 744px) {
  .weare-image {
    margin-top: -70px;
    max-width: 420px;
    width: 420px;
  }
  .list-characteristic {
    row-gap: 50px;
  }
}

@media only screen and (min-width: 1360px) {
  .section-weare {
    padding-top: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
  .weare-image {
    margin: 0px;
    margin-top: 0px;
    max-width: 566px;
    order: 1;
  }
}

@media only screen and (min-width: 1900px) {
  .list-characteristic {
    max-width: 730px;
    gap: 48px;
  }
}
